{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#assets": "./src/assets",
          "#mocks": "./mocks",
          "#components": "./src/components",
          "#store": "./src/store",
          "#utils": "./src/utils",
          "#views": "./src/views"
        }
      }
    ]
  ]
}
