{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#components": "./src/components",
          "#store": "./src/store",
          "#utils": "./src/utils"
        }
      }
    ]
  ]
}
